$siz_space: 6px;
$siz_radius: 4px;
$siz_footer_height: 3em;
$col_base: rgb(247, 236, 223);
$col_main: rgb(253, 252, 249);
$col_accent: rgb(196, 176, 150);
$col_font: rgb(13, 80, 134);
$col_font_strike: rgb(209, 209, 209);
$col_subfont: gray;
$col_dangerous: rgb(233, 120, 120);
$col_attention: rgb(236, 178, 17);
$col_todo_back: #fff7c6;

.txt{
  border: none;
  outline: none;
  color: $col_font;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}
.input{
  &__txt{
    @extend .txt;
    padding: 2px 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgba(19, 17, 26, 0.2) inset;
  }
}
.btn{
  display: inline-flex;
  min-width: 20px;
  min-height: 20px;
  background: $col_accent;
  color: $col_main;
  border-radius: $siz_radius;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: default;
  &:active{
    background: darken($col_accent, 10%);
    transform: translateY(1px);
  }
  &-delete{
    @extend .btn;
    background: $col_dangerous;
    &:active{
      background: darken($col_dangerous, 10%);
    }
    &::before{
      content: '';
      display: block;
      position: absolute;
      background: $col_main;
      width: 2px;
      height: 12px;
      transform: rotate(-45deg);
    }
    &::after{
      @extend .btn-delete::before;
      transform: rotate(45deg);
    }
  }
}
.icon{
  display: inline-flex;
  width: 20px;
  height: 20px;
  user-select: none;
  cursor: default;
  justify-content: center;
  align-items: center;
  &-attention{
    @extend .icon;
    border-radius: 50%;
    background: $col_attention;
    &::before{
      content: '！';
      color: $col_main;
    }
  }
}
/* http://weboook.blog22.fc2.com/blog-entry-401.html */
.plus{
  display: inline-block;
  position: relative;
  margin: auto;
  padding: 0;
  width: 4px;
  height: 16px;
  background: $col_main;
  &:before{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: -6px;
    width: 16px;
    height: 4px;
    margin-top: -2px;
    background: $col_main;
  }
}