$siz_space: 6px;
$siz_radius: 4px;
$siz_footer_height: 3em;
$col_base: rgb(247, 236, 223);
$col_main: rgb(253, 252, 249);
$col_accent: rgb(196, 176, 150);
$col_font: rgb(13, 80, 134);
$col_font_strike: rgb(209, 209, 209);
$col_subfont: gray;
$col_dangerous: rgb(233, 120, 120);
$col_todo: rgb(236, 178, 17);
$col_todo_back: #fff7c6;

.txt{
  border: none;
  outline: none;
  color: $col_font;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}
.input{
  &__txt{
    @extend .txt;
    padding: 2px 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgba(19, 17, 26, 0.2) inset;
  }
}
.btn{
  display: inline-flex;
  min-width: 20px;
  min-height: 20px;
  background: $col_accent;
  color: $col_main;
  border-radius: $siz_radius;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: default;
  &:active{
    background: darken($col_accent, 10%);
    transform: translateY(1px);
  }
  &__delete_image{
    @extend .btn;
    position: relative;
    vertical-align: top;
    background: $col_dangerous;
    &:active{
      background: darken($col_dangerous, 10%);
    }
  }
}