$siz_space: 3px;
$siz_radius: 4px;
$siz_footer_height: 3em;
$siz_footer_width: 3.2em;
$col_base: rgb(215, 221, 224);
$col_main: rgb(255, 255, 255);
$col_accent: rgb(146, 150, 184);
$col_font: rgb(37, 79, 114);
$col_font_strike: rgb(209, 209, 209);
$col_subfont: gray;
$col_dangerous: rgb(197, 104, 127);
$col_attention: rgb(240, 137, 77);
$col_todo_back: #ffe1bf;
$breakpoint_pc: 2560px;
$breakpoint_phone: 1080px;

@mixin if-pc {
  @media screen and (max-width: $breakpoint_pc) and (min-width: $breakpoint_phone) {
    @content;
  }
}
@mixin if-phone {
  @media screen and (max-width: $breakpoint_phone) {
    @content;
  }
}

.txt{
  border: none;
  outline: none;
  color: $col_font;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}
.input{
  &__txt{
    @extend .txt;
    padding: 2px 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgba(19, 17, 26, 0.2) inset;
  }
}
.btn{
  display: inline-flex;
  min-width: 20px;
  min-height: 20px;
  background: $col_accent;
  color: $col_main;
  border-radius: $siz_radius;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: default;
  &:active{
    background: darken($col_accent, 10%);
    transform: translateY(1px);
  }
  &-add{
    @extend .btn;
    &::before{
      content: '';
      display: block;
      position: absolute;
      background: $col_main;
      width: 2px;
      height: 12px;
    }
    &::after{
      @extend .btn-add::before;
      transform: rotate(90deg);
    }
  }
  &-delete{
    @extend .btn;
    background: $col_dangerous;
    &:active{
      background: darken($col_dangerous, 10%);
    }
    &::before{
      @extend .btn-add::before;
      transform: rotate(-45deg);
    }
    &::after{
      @extend .btn-add::before;
      transform: rotate(45deg);
    }
  }
}
.icon{
  display: inline-flex;
  width: 20px;
  height: 20px;
  user-select: none;
  cursor: default;
  justify-content: center;
  align-items: center;
  &-attention{
    @extend .icon;
    border-radius: 50%;
    background: $col_attention;
    &::before{
      content: '！';
      color: $col_main;
    }
  }
}
